html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  background-color: #151326;
}

h1 {
  color: goldenrod;
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
}

.parent-element{
  text-align: center;
  border: 1px dashed pink;
}

.parent-element ul {
  border: 1px solid red;
  list-style-type: none;
  margin: 50px;
  padding: 0;
  display: inline-block;
}

.parent-element ul li {
  border: 1px solid rgb(32, 218, 41);
  padding: 40px;
  margin: 20px;
}

.parent-element ul li a {
  border: 1px solid yellow;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  color: goldenrod;
  padding: 20px;
}
.parent-element ul li a:hover {
  background-color: rgb(17, 10, 24);
}




